
@if (DateTime.Now.Minute < 30)
{
    <div style="border: 1px solid red; width: 100%; height: 200px">
        Informações sobre o Contato - A
    </div>
}
else
{
    <div style="border: 1px solid green; width: 100%; height: 200px">
        Informações sobre o Contato - B
    </div>
}

@{ 
    String minhaVar = "asdasdasd";   
}

<div>
    <p>@minhaVar</p>
</div>

<div>
    <p>asdasdasd</p>
</div>