@model List<CursoSabado.Web.Models.PessoaModel>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        Principal - Home - Index
    </div>

    @{ 
        for (int i = 0; i < Model.Count; i++) 
        {
        <div>
            <span>Id: @Model[i].Id e Nome: @Model[i].Nome </span>
        </div>
        }
    }

</main>