@model List<CursoSabado.DTOs.Pessoas.DTODePessoa>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oi, Bem vindo</h1>    
</div>

@if (Model != null)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div>
            <span>Id: @Model[i].Id e Nome: @Model[i].Nome | @Model[i].DescricaoIdade </span>
        </div>
    }
}
else
{
    <label>Sem informações no model da view</label>
}